
@{
    ViewBag.Title = "SubCompanuList";
}

<script src="~/Scripts/angular.min.js"></script>

<div class="card text-center shadow-5-strong" style="width: 100%;">
    <div class="card-header">
        <div class="row">
            <div class="col-6" style="text-align: left;">
                <h4 class="page-item">SubCompany </h4>
            </div>
            <div class="col-6" style="text-align: right;">
                @Html.ActionLink("Action", "", "", new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
    <div class="card-body">
        <div data-ng-include='"Angular/Template/SubcomapnyList.html"'></div>
    </div>
</div>


