
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />

    <title>Payroll Login</title>
    <link href="~/Content/mdb.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>

    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.min.js"></script>

</head>
<body class="Login" ng-app="myApp" , ng-controller="AuthLoginController">
    <div class="card text-center shadow-5-strong" style="width:68%; margin-top: 10%; margin-left: 16%;">
        <div class="card-header">
            <div class="row">
                <div class="col-6" style="text-align: left;">
                    <h4 class="page-item">Admin Login </h4>
                </div>

            </div>
        </div>
        <div ng-include='"/Angular/Template/AuthLogin.html"'></div>
    </div>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Angular/js/AuthLogin.js"></script>
    
</body>
</html>